In [2]:
import pandas as pd

In [3]:
mat = pd.read_csv("student-mat.csv", sep = ";")
por = pd.read_csv("student-por.csv", sep = ";")

In [4]:
mat.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

In [5]:
por.head(6)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,6,12,12,13

In [6]:
mat.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [7]:
girls,boys = mat.groupby(mat['sex'])['sex'].count().values

In [8]:
d,students_17_year_old = mat.groupby((mat['age'] == 17) & ((mat['G3'] >= 10) & (mat['G3'] <= 15)))['age'].count().values

In [9]:
ll = pd.DataFrame(mat[['sex','G1','G2','G3']].mean(axis=1),columns=['avg']).join(mat['sex'])
bb=ll.sort_values(by=['avg','sex'], ascending=(False,True)).head(10)
boys_from_top_10=bb[bb['sex']=='M'].head(10)['avg'].count()

In [10]:
mat.head()['internet']

0     no
1    yes
2    yes
3    yes
4     no
Name: internet, dtype: object

In [11]:
mean = mat[(mat['internet']=='yes')&(mat['romantic']=='yes')]['absences'].mean()
std = mat[(mat['internet']=='yes')&(mat['romantic']=='yes')]['absences'].std()

In [12]:
student_counts_for_each_age = pd.DataFrame(data=[mat[mat['age']==15]['age'].count(),mat[mat['age']==16]['age'].count()], index=['0','1'])

In [13]:
father = mat[(mat['Mjob']!='other')&(mat['Fjob']!='other')].sort_values(by=['Mjob','Fjob']).groupby(['Fjob','Mjob'], as_index=False)['Fjob'].count().sort_values(by=['Fjob'],ascending=(False)).reset_index()[['Mjob']].head(1).values.tolist()
mother = mat[(mat['Mjob']!='other')&(mat['Fjob']!='other')].sort_values(by=['Mjob','Fjob']).groupby(['Mjob','Fjob'], as_index=False)['Mjob'].count().sort_values(by=['Mjob'],ascending=(False)).reset_index()[['Fjob']].head(1).values.tolist()

In [14]:
por.count()
mat.count()

school        395
sex           395
age           395
address       395
famsize       395
Pstatus       395
Medu          395
Fedu          395
Mjob          395
Fjob          395
reason        395
guardian      395
traveltime    395
studytime     395
failures      395
schoolsup     395
famsup        395
paid          395
activities    395
nursery       395
higher        395
internet      395
romantic      395
famrel        395
freetime      395
goout         395
Dalc          395
Walc          395
health        395
absences      395
G1            395
G2            395
G3            395
dtype: int64

In [15]:
#por1 = por.rename(columns={'G1':'G1_por','G2':'G2_por','G3':'G3_por'})

In [16]:
#mat1 = mat.rename(columns={'G1':'G1_mat','G2':'G2_mat','G3':'G3_mat'})

In [18]:
eee=mat.append(por,ignore_index=True)

In [34]:
eee1 = eee.drop(['G1','G2','G3'],1)

In [38]:
eee1 = eee1.drop_duplicates()

In [41]:
both_present = eee1['sex'].count()

In [ ]:
por =